/* General */
.portada {
    position: relative;
    height: 100vh; /* Cubre toda la ventana */
    background-image: url('imagenes/portada.webp'); /* Cambia la ruta por la imagen que desees */
    background-size: cover; /* Hace que la imagen cubra todo el área */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
    display: flex; /* Usa flexbox para centrar el contenido */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    text-align: center;
    color: white; /* Texto blanco para contraste */
    padding: 20px;
    flex-direction: column;
  }
  
  .portada::after { 
    content: ""; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 100%); 
    z-index: 1; 
}

.portada h1, 
.portada p { 
    position: relative; 
    z-index: 2; 
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

main {
  padding: 20px;
}

section {
  padding: 50px 20px;
  border-bottom: 1px solid #ddd;
}

/* Estilo para la barra de navegación */
.navbar {
  position: sticky; /* Hace que la barra sea sticky */
  top: 0; /* Define el punto de adherencia en la parte superior */
  background-color: #333; /* Color de fondo */
  color: white;
  z-index: 1000; /* Mantiene la barra sobre otros elementos */
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para destacar */
}

.navbar nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around; /* Espacio uniforme entre los elementos */
}

.navbar nav ul li {
  display: inline;
}

.navbar nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  transition: background 0.3s;
}

.navbar nav ul li a:hover {
  background-color: #575757; /* Color al pasar el mouse */
  border-radius: 5px; /* Bordes redondeados en hover */
}

.portada h1, 
.portada p { 
    display: block; 
    margin: 0; padding: 0; 
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0; 
    animation: slideInUp 1s forwards; 
    animation-delay: 0.5s;
} 
.portada p { 
    margin-top: 10px; /* Ajusta según la cantidad de espacio que quieras entre h1 y p */ 
    animation-delay: 1s;
}

@keyframes slideInUp { 
    from { 
        opacity: 0; 
        transform: translateY(100%); 
    } to { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 

.texto-apareciendo { 
    opacity: 0; /* Inicialmente oculto */ 
    transition: opacity 5s ease-in-out; /* Animación suave de aparición */ 
} 
.visible { 
    opacity: 1; /* Visibilidad total */ 
}